@font-face {
    font-family: Normal;
    src: url('../../fonts/small.ttf');
}
.SearchBar {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 9vh;
}

.input {
    width:70%;
    background-color: #3b1b85;
    border-radius: 3vw 0 0 3vw;
    box-shadow: 6px 9px 20px #c364aec2;
    font-family: Normal;
    font-size: clamp(9px, 2vw, 73px);
    border:none;
    color:#dcf5f2;
}
.searchButton {
    border-radius: 0 3vw 3vw 0;
    padding: 2vw;
    box-shadow: 6px 9px 20px #c364aec2;
    background-color: #efb7ed;
    border:none;
}